.button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #198653;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    max-height: 35px;
}

.profile-page-button:hover {
    background-color: #0e5738;
}

.export-container {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 400px;
}

.label {
    margin-top: 12px;
    margin-bottom: 2px;
}

.center-contents-container {
    display: flex;
    justify-content: center;
}